/* Центруємо контейнер */
.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    margin: 0;
  }
  
  /* Стилі для блока лічильника */
  .counter-box {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Стилі для кнопок */
  .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .counter-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Ефект наведення на кнопку */
  .counter-button:hover {
    background-color: #ddd;
  }
  
  .counter-button:active {
    background-color: #bbb;
  }
  